DJANGO_ENV={{ env['DJANGO_ENV'] }}
DJANGO_PORT={{ env['DJANGO_PORT'] }}
DJANGO_DEBUG={{ env['DJANGO_DEBUG'] }}
DJANGO_CSRF_TRUSTED_ORIGINS={{ env['DJANGO_CSRF_TRUSTED_ORIGINS'] }}
DJANGO_ALLOWED_HOSTS={{ env['DJANGO_ALLOWED_HOSTS'] }}
DJANGO_SETTINGS_MODULE={{ env['DJANGO_SETTINGS_MODULE'] }}
DJANGO_LOG_LEVEL={{ env['DJANGO_LOG_LEVEL'] }}
DJANGO_SECRET_KEY="{{ env['DJANGO_SECRET_KEY'] }}"
DJANGO_DB_URL={{ env['DJANGO_DB_URL'] }}
DJANGO_ADMIN_PASSWORD={{ env['DJANGO_ADMIN_PASSWORD'] }}
DJANGO_EMAIL_HOST={{ env['DJANGO_EMAIL_HOST'] }}
DJANGO_EMAIL_PORT={{ env['DJANGO_EMAIL_PORT'] }}
DJANGO_EMAIL_HOST_USER={{ env['DJANGO_EMAIL_HOST_USER'] }}
DJANGO_EMAIL_HOST_PASSWORD={{ env['DJANGO_EMAIL_HOST_PASSWORD'] }}
DJANGO_EMAIL_USE_SSL={{ env['DJANGO_EMAIL_USE_SSL'] }}
DJANGO_COMMENT_EMAIL_RECIPIENTS = {{ env['DJANGO_COMMENT_EMAIL_RECIPIENTS'] }}
DJANGO_COMMENT_EMAIL_FROM="{{ env['DJANGO_COMMENT_EMAIL_FROM'] }}"
