DJANGO_NAME={{ env['DJANGO_ENV'] }}
DJANGO_PORT={{ env['DJANGO_PORT'] }}
DJANGO_DEBUG={{ env['DJANGO_DEBUG'] }}
DJANGO_CRSF_TRUSTED_ORIGINS={{ env['DJANGO_CRSF_TRUSTED_ORIGINS'] }}
DJANGO_ALLOWED_HOSTS={{ env['DJANGO_ALLOWED_HOSTS'] }}
DJANGO_SETTINGS_MODULE={{ env['DJANGO_SETTINGS_MODULE'] }}
DJANGO_LOG_LEVEL={{ env['DJANGO_LOG_LEVEL'] }}
DJANGO_SECRET_KEY="{{ env['DJANGO_SECRET_KEY'] }}"
DJANGO_DB_URL={{ env['DJANGO_DB_URL'] }}
DJANGO_ADMIN_PASSWORD={{ env['DJANGO_ADMIN_PASSWORD'] }}
