gunicorn==23.0.0
Django==5.2.5
psycopg[binary]==3.2.9
django_compressor
django-libsass
django-summernote
Pillow
django-imagekit
django-crispy-forms
crispy-bootstrap4
beautifulsoup4
dj-database-url
celery[ramq]==5.5.3
